.text-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F5E6C8;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
}
select{
    margin:10px;
    background-color:#F5E6C8;
    width: 180px;
    height: 50px;
    border: 2px solid #7A4B24;
    border-radius: 9px;
    color:#7A4B24;
    font-size: 15px;
    font-weight: bold;
}

textarea {
    width:94%;
    max-width: 500px;
    resize: vertical;
    min-height: 100px;  
    height: 230px;
    padding: 10px;
    border-radius: 9px;
    border: 2px solid #734022;
  }

.unit-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 4px;
    align-items: center;
    color: #7A4B24;
}

button{
    font-size: 16px;
    margin-bottom: 15px;
}

.fullscreen-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7); /* Black transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}